executing==2.1.0
pexpect==4.9.0
tornado==6.4.1
decorator==5.1.1
traitlets==5.14.3
ipython==8.28.0
nest-asyncio==1.6.0
ptyprocess==0.7.0
parso==0.8.4
six==1.16.0
packaging==24.1
jupyter_client==8.6.3
pyzmq==26.2.0
appnope==0.1.4
stack-data==0.6.3
asttokens==2.4.1
psutil==6.0.0
jedi==0.19.1
jupyter_core==5.7.2
python-dateutil==2.9.0.post0
wcwidth==0.2.13
prompt_toolkit==3.0.48
comm==0.2.2
pure_eval==0.2.3
debugpy==1.8.6
typing_extensions==4.12.2
matplotlib-inline==0.1.7
platformdirs==4.3.6
ipykernel==6.29.5
Pygments==2.18.0
pandas==2.2.3
matplotlib==3.9.2
filelock==3.16.1
idna==3.10
pyarrow==18.0.0
fonttools==4.54.1
transformers==4.46.0
torch==2.7.0.dev20250217
multidict==6.1.0
aiosignal==1.3.1
dataclasses-json==0.5.14
aiohttp==3.10.10
urllib3==2.2.3
langchain-text-splitters==0.3.2
MarkupSafe==3.0.1
propcache==0.2.0
requests==2.32.3
frozenlist==1.5.0
Jinja2==3.1.4
dnspython==2.7.0
httpx-sse==0.4.0
fsspec==2024.9.0
pinecone==5.4.0
httpx==0.27.2
safetensors==0.4.5
mypy-extensions==1.0.0
h11==0.14.0
GitPython==3.1.44
wheel==0.44.0
yarl==1.17.1
pinecone-plugin-interface==0.0.7
jiter==0.7.1
joblib==1.4.2
pinecone-client==2.2.1
typing-inspect==0.9.0
SQLAlchemy==1.4.54
graphviz==0.20.3
huggingface-hub==0.26.2
pyparsing==3.1.4
openapi-schema-pydantic==1.2.4
sentry-sdk==2.22.0
scikit-learn==1.6.1
langchain==0.3.8
langchain-core==0.3.21
protobuf==5.29.3
jsonpatch==1.33
click==8.1.8
jsonpointer==3.0.0
pydantic_core==2.27.1
numpy==1.26.4
scipy==1.15.1
attrs==24.2.0
certifi==2024.8.30
pydantic-settings==2.6.1
cffi==1.17.1
umap==0.1.1
torchaudio==2.6.0.dev20250217
threadpoolctl==3.5.0
wandb==0.19.6
multiprocess==0.70.16
kiwisolver==1.4.7
langchain-community==0.3.8
xxhash==3.5.0
aiohappyeyeballs==2.4.3
tqdm==4.66.6
contourpy==1.3.0
gitdb==4.0.12
sniffio==1.3.1
mpmath==1.3.0
pytz==2024.2
pydantic==2.10.2
orjson==3.10.12
setuptools==74.1.2
tenacity==8.5.0
httpcore==1.0.7
langsmith==0.1.146
pycparser==2.22
pyheif==0.8.0
cycler==0.12.1
pip==24.2
cryptography==43.0.1
pinecone-plugin-inference==2.0.1
dill==0.3.8
networkx==3.3
datasets==3.0.2
python-dotenv==1.0.0
distro==1.9.0
pillow==10.4.0
docker-pycreds==0.4.0
torchvision==0.22.0.dev20250217
requests-toolbelt==1.0.0
loguru==0.7.2
sympy==1.13.1
PyYAML==6.0.2
smmap==5.0.2
sentencepiece==0.2.0
tokenizers==0.20.1
charset-normalizer==3.4.0
regex==2024.9.11
marshmallow==3.23.1
tzdata==2024.2
tiktoken==0.8.0
setproctitle==1.3.4
annotated-types==0.7.0
openai==1.55.1
anyio==4.6.2.post1
